

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PetCare Pro</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:fragment="header" class="app-header">
    <a href="/" class="app-name">PetCare Pro</a>
    <nav>
        <ul>
            <li><a th:href="@{/dashboard}">Business Plan</a></li>
            <li><a th:href="@{/business-name}">Business Name</a></li>
            <li><a th:href="@{/business-forms}">Business Forms</a></li>
            <li><a th:href="@{/resources}">Resources</a></li>
        </ul>
    </nav>
</header>
</body>
</html>

