<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${pageTitle} ?: 'Default Title'">Default Title</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>


<!-- Main Content -->
<div class="main-content" th:fragment="content">
    <!-- Page-specific content will be injected here -->
    <div th:insert="${content}"></div> <!-- This could be dynamic if managed by a controller -->
</div>
</body>
</html>












