<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<div th:replace="~{/fragments/header :: header}"></div>
<body>


<div class="feature-box-container">
    <a href="/business-plan/dashboard" class="feature-box">
        <h3>Business Plan</h3>
        <p>Create and organize your business plan.</p>
    </a>
    <div class="feature-box">
        <h3>Name Generator</h3>
        <p>Find the perfect name for your pet business.</p>
    </div>
    <div class="feature-box">
        <h3>Business Forms</h3>
        <p>Access essential business forms and templates.</p>
    </div>
    <div class="feature-box">
        <h3>Resources</h3>
        <p>Explore resources to help grow your business.</p>
    </div>
</div>


</body>
</html>