<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{/fragments/header :: header}"></div>

<div class="welcome-section">
    <h1>Welcome to PetCare Pro!</h1>
    <p>Discover the best pet business for you, plan your success, and access the tools you need to grow. Let's get started!</p>
</div>

<div class="feature-box-container">
    <a href="/quiz" class="quiz-button">Take the Quiz</a>
    <a href="/business-plan/dashboard" class="feature-box">
        <h3>Business Plan</h3>
        <p>Create and organize your business plan.</p>
    </a>
    <div class="feature-box">
        <h3>Name Generator</h3>
        <p>Find the perfect name for your pet business.</p>
    </div>
    <div class="feature-box">
        <h3>Business Forms</h3>
        <p>Access essential business forms and templates.</p>
    </div>
    <div class="feature-box">
        <h3>Resources</h3>
        <p>Explore resources to help grow your business.</p>
    </div>
</div>
</body>
</html>



