<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Create Business Plan</title>
  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Company Description</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>
  <div th:replace="~{/fragments/header :: header}"></div>
  <div th:replace="~{/fragments/sidebar :: sidebar}"></div>
<body>
  <div class="main-content">
  <h1>Company Description</h1>

    <form th:action="@{/business-plan/company-description}" th:object="${businessPlan}" method="post">
      <input type="hidden" name="planId" th:value="${businessPlan.id}" />
    <div>
      <label for="companyDescription">Company Description</label>
      <textarea id="companyDescription" th:field="${businessPlan.companyDescription}"
                placeholder="Please describe your company:" required></textarea>
    </div>

    <div th:if="${errorMessage}" class="error-message">
      <p th:text="${errorMessage}"></p>
    </div>




        <button type="submit" name="saveOption" value="continue">Save and Continue</button>
        <button type="submit" name="saveOption" value="exit">Save and Exit</button>

    </form>

</div>
</body>
  </html>

