<!-- src/main/resources/templates/business-plan/finding-request.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Funding Request</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>
<div th:replace="~{/fragments/header :: header}"></div>
<div th:replace="~{/fragments/sidebar :: sidebar}"></div>
<div class="main-content">
    <h1>Funding Request</h1>
<form th:action="@{/business-plan/funding-request}" th:object="${fundingRequest}" method="post">
    <input type="hidden" name="planId" th:value="${businessPlan.id}" />
    <div>
        <label for="funds">Funding Request:</label>
        <textarea id="funds" th:field="*{funds}" placeholder="Where will you obtain funding for your business?" required></textarea>
    </div>
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>
    <button type="submit" name="saveOption" value="continue">Save and Continue</button>
    <button type="submit" name="saveOption" value="exit">Save and Exit</button>
</form>

</body>
</html>