<!-- src/main/resources/templates/business-plan/products-services.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Products and Services</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>
<div th:replace="~{/fragments/header :: header}"></div>
<div th:replace="~{/fragments/sidebar :: sidebar}"></div>
<div class="main-content">

    <h1>Products and Services</h1>
    <div>
        <label for="productsAndServices">Products & Services</label>
        <p class="helper-text">
            Describe what your business offers. You can include:
        </p>
        <ul class="helper-text">
            <li>The services or products you plan to offer</li>
            <li>How they meet the needs of your target market</li>
            <li>What makes them unique or valuable</li>
            <li>Your pricing strategy (e.g., hourly, flat rate, package deals)</li>
            <li>How your prices compare to similar businesses</li>
        </ul>
        <p class="helper-text">
            You don’t need to list every detail, just give a clear idea of what you offer and how you’ll charge for it.
        </p>
        <textarea id="productsAndServices" th:field="*{productsServices}" required></textarea>
    </div>

</div>
</body>
</html>
